<div id='messages-container'>
	
	<div id="logged-in">
	<% if current_user %>
 			<%= link_to("sign out", destroy_user_session_path ,:method => :delete) %>
			<%= form_for @new_message do |f| %>
			<p>
				<%= f.label :message %>
				<%= f.text_field :message, :autofocus => true %>
			</p>
			<%= f.submit %>
			<% end %>
	</div>
	<% else %>
		<div id="sign-in" class="col-sm-4 col-sm-offset-4 vertical-center text-center">
				<h3>
				<%= link_to("Sign in to leave a message", '/users/auth/twitter') %>
				</h3>
		</div>
	<% end %>

	<ul id="scene" class="scene">
<!-- 	 <li id="background" class="layer" data-depth="0.10"> -->
	 </li>
	</ul>

</div>
