<div id='messages-container'>
		<!-- <li class="layer" data-depth="1.00"> -->
			<div class="row">
				<% if current_user %>
					<div class="row">
						<div class="col-md-2">
			 				<%= link_to("sign out", destroy_user_session_path ,:method => :delete) %>
			 			</div>
			 		</div>
				<div id="logged-in" class="col-md-4 col-md-offset-4 text-center">
						<%= form_for @new_message do |f| %>
						<p>
							<%= f.label :"Type something of great importance" %>
							<%= f.text_field :message, :autofocus => true, :class => 'form-control', :placeholder => "I'm stuck, send help." %>
						</p>
						<%= f.submit :class => 'btn'%>
						<% end %>
				</div>
				<% else %>
					<div id="sign-in" class="col-md-4 col-md-offset-4 text-center">
							<h3>
							<%= image_tag("twitterwhite.png", :class => "twitter-ico")%>

							<%= link_to("Sign in to leave a message", '/users/auth/twitter') %>
							</h3>
					</div>
				<% end %>
			</div>
	<ul id="scene" class="scene">
		<!-- </li> -->
	</ul>
</div>
