<div id='messages-container'>

	<% if current_user %>
 			<%= link_to("sign out", destroy_user_session_path ,:method => :delete) %>
			<%= form_for @new_message do |f| %>
			<p>
				<%= f.label :message %>
				<%= f.text_field :message, :autofocus => true %>
			</p>
			<%= f.submit %>
			<% end %>
	<% else %>
				<%= link_to("Sign in to leave a message", new_user_session_path) %>
	<% end %>
</div>


<script>vex.defaultOptions.className = 'vex-theme-flat-attack';
</script>

<script>
	$('#messages-container').on('click', '.blob', function(){
		var $this = $(this);
		var messages = $this.data('message');
		var date = $this.data('date');
		blobs.modal(
			messages, date
			);
	});
</script>





<!-- $('body').on('click', '.blob', function () {
  var $this = $(this);
  var author = $this.data('author');
  var message = $this.data('message');

  alert(author);
  alert(message);
}); -->