<!DOCTYPE html>
<html>
<head>
  <title>MessageInABottle</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
<div id='container' class='container-fluid wrapper'>

		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>

	<%= yield %>
</div>
<%= javascript_include_tag 'application' %>

</body>
</html>
